mat-card {
    display: table;
    margin: auto;
    width: 600px;
}

mat-form-field {
    display: block;
}

mat-form-field.noblock {
    display: inline-block;
    width: 120px;
}

mat-checkbox {
    margin-left: 50px;
}

button {
    display: table;
    margin: auto;
}