.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    padding: 10px 20px;
    display: inline-block;
}

img.search-icon {
    height: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

mat-form-field {
    width: 200px;
}

.icon-wrapper {
    margin-left: 5px;
    display: inline-block;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    /* transparent 1px border so it does not glitch on hover/selected when we add a 1px border */
    border: 1px solid transparent;
    position: relative;
}

.icon-wrapper:hover {
    border: 1px solid grey;
}

.selected {
    border: 1px solid grey;
    background-color: #eee;
}

img.piece-type-icon {
    height: 25px;
    vertical-align: middle;
}

.tooltip {
    visibility: hidden;
    color: #844ee2;
    text-align: center;
    font-size: x-small;
    /* Position the tooltip centered below the container */
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    width: 60px;
    margin-left: -30px;
}

.icon-wrapper:hover .tooltip {
    visibility: visible;
}