.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    padding: 10px 20px;
    display: inline-block;
}

img.search-icon {
    height: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

mat-form-field {
    width: 400px;
}