img.piece-type-icon {
    height: 20px;
    margin-right: 10px;
    vertical-align: top;
}

img.piece-image {
    display: block;
    float: left;
    height: 120px;
    margin-right: 10px;
    border: 1px solid #555;
}

mat-panel-title {
    display: inline;
    flex-grow: unset;
}

mat-panel-title span {
    vertical-align: top;
}

mat-panel-description {
    color: rgba(0, 0, 0, 0.4);
}

mat-panel-description span {
    margin-right: 5px;
}

.spacer {
    padding-left: 40px;
}

.right {
    float: right;
}

.completion-date {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    font-style: italic;
}

img.action-icon {
    height: 15px;
    vertical-align: middle;
}

.wishlist-icon,
.edit-icon,
.delete-icon {
    margin-left: 5px;
    display: inline-block;
    height: 22px;
    padding: 0 3px;
    border-radius: 5px;
    /* transparent 1px border so it does not glitch on hover when we add a 1px red border */
    border: 1px solid transparent;
}

.wishlist-icon {
    margin-right: 15px;
}

.edit-icon:hover {
    /* border color extracted from the icon with Colorpick Eyedropper Chrome extension */
    border: 1px solid black;
    background-color: #ddd;
}

.delete-icon:hover {
    /* border color extracted from the icon with Colorpick Eyedropper Chrome extension */
    border: 1px solid #e76e54;
    background-color: #fdd;
}